
<h4>Welcome {{name}}! I hope you feel well today!</h4> 
<div class="divider"></div>

<h5>Your medicine usage history is below.</h5> <br>

{{#if stories}}
       <table class="highlight">
        <thead>
            <tr>
                <th>Name of Medicine</th>
                <th>Number of Usage</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each stories}}
                <tr>
                    <td><a href="/stories/{{_id}}">{{medicine}}</a></td>
                    <td><a href="/stories/{{_id}}">{{number}}</a></td>
                    <td>{{formatDate createdAt 'MMMM Do YYYY'}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td>
                        <a href="/stories/edit/{{_id}}" class="btn btn-green btn-float">
                            <i class="fas fa-edit"></i>
                        </a>

                        <form action="/stories/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have not created any stories. Add one now!</p>
{{/if}}


