
<h4>Welcome {{name}}! I hope you feel well today!</h4> 
{{#if esspries}}
       <table class="highlight responsive-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Dryness</th>
                <th>Fatigue</th>
                <th>Pain</th>
            </tr>
        </thead>
        <tbody>
            {{#each esspries}}
                <tr>
                    <td>{{formatDate createdAt 'MMMM Do YYYY'}}</td>
                    <td>{{dryness}}</td>
                    <td>{{fatigue}}</td>
                    <td>{{pain}}</td>
                    <td>
                    <form action="/esspri/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red  btn-float">
                                <i class="fas fa-trash"></i>
                            </button>
                    </form>
                    </td>
                    
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have not any data associated with ESSPRI!</p>
{{/if}}